*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:any-link{
  color: inherit;
  opacity: .8;
}
:any-link:hover{
  text-decoration: none;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
  background: #222 url('../assets/steps.svg') left no-repeat;
  background-size: cover;
  color: #eef;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

main {width: 40%; min-height: 100%; min-width: 300px !important;}
main, main form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  gap: .8em;
  min-width: 200px;
}
form {
  width: 100%;
  box-shadow: 7px -6px 9px 2px rgb(133, 92, 5);
  height: 80%;
  border-radius: 1em;
}

form label {
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  gap: .5em;
  font-size: 1.2em;
  align-items: center;
}

label input {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid #eef;
  color: #eef;
  padding: .5em;
  min-width: 180px;
  border-radius: .5em;
}

form div {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  gap: .8em;
  align-items: center;
}

form button {
  padding: .5em .8em;
  background-color: transparent;
  color: #eef;
  border: 2px solid #eef;
  border-radius: .5em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #eef;
  color: #222;
}

input.error {outline: 2px solid red;}
.helper {color: red;}
.helper:not(.visible) { display: none;}
